# BEGIN WP Hide & Security Enhancer
<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase / 
#WriteCheckString:1635590792_22374
RewriteRule .* - [E=HTTP_MOD_REWRITE:On]
RewriteRule ^rewrite_test_1635590792_22374/? /wp-content/plugins/wp-hide-security-enhancer/include/rewrite-confirm.php [L,QSA]

RewriteRule ^asetsagh/child-skin.css /wp-content/themes/pofo-child/style.css [L,QSA]

RewriteRule ^peephato/skin.css /wp-content/themes/pofo/style.css [L,QSA]

RewriteRule ^asetsagh/(.+) /wp-content/themes/pofo-child/$1 [L,QSA]

RewriteRule ^peephato/(.+) /wp-content/themes/pofo/$1 [L,QSA]

RewriteRule ^choackeg/(.+) /wp-content/plugins/$1 [L,QSA]

RewriteRule ^ojiwhaps/(.+) /wp-includes/$1 [L,QSA]

RewriteRule ^ptalsywh/(.+) /wp-content/uploads/$1 [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !wp-activate.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-cron.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-signup.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-register.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-comments-post.php [NC]
RewriteCond %{REQUEST_FILENAME} !wp-login.php [NC]
RewriteRule ^wp-([a-z-])+.php /index.php?wph-throw-404 [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-register.php /index.php?wph-throw-404 [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^readme.html /index.php?wph-throw-404 [L]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^license.txt /index.php?wph-throw-404 [L]

RewriteRule ^istogaxo.php /wp-comments-post.php [L,QSA]

RewriteRule ^ijoadsob/(.+) /wp-content/$1 [L,QSA]
</IfModule> 

# END WP Hide & Security Enhancer

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# BEGIN LiteSpeed
# The directives (lines) between "BEGIN LiteSpeed" and "END LiteSpeed" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule Litespeed>
SetEnv noabort 1
</IfModule>
# END LiteSpeed