.pofo_meta_box_tab_content .wp-picker-container input[type="text"].wp-color-picker {
    width: 100px;
}

.pofo_meta_box_tab_content .wp-picker-container .button.button-small {
    min-height: 28px;
    margin-left: 6px;
}

.pofo_meta_box_tab_content select {
    min-height: 30px;
    line-height: 2;
}

.pofo_meta_box_tab_content .button.pofo_remove_button,
.wp-core-ui .button.pofo_remove_button_category {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
}

.pofo_meta_box_tab_content .button.pofo_remove_button:hover,
.wp-core-ui .button.pofo_remove_button_category:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

.pofo_meta_box_tab_content .iris-picker {
    border-bottom: 0;
    padding-right: 2px;
}

.vc_ui-panel-content select {
    max-width: 100%;
}

.vc_ui-panel.vc_ui-panel-window .edit_form_line input[type="text"],
.vc_ui-panel.vc_ui-panel-window .edit_form_line input[type="number"] {
    line-height: 18px;
}

.vc_ui-panel .wp-color-result:focus:after,
.vc_ui-panel .wp-color-result:hover:after {
    border: none;
}

.vc_ui-panel .wp-picker-container .button.button-small {
    min-height: 28px;
    margin-left: 6px;
}

.vc_ui-panel .pofo-button-color-setting .wp-picker-holder {
    top: 60px;
}

.pofo-post-social-icon-list input[type="text"] {
    line-height: 1.3;
}

.wp-customizer .pofo-post-social-icon-list li input[type="checkbox"] {
    width: 1rem !important;
}

.wp-customizer .alpha-color-picker-wrap .button.wp-picker-clear {
    margin-left: 6px;
    height: 28px !important;
}

.wp-customizer .alpha-color-picker-wrap .wp-picker-container .wp-color-result.button {
    min-height: 25px;
}
.vc_edit_form_elements .vc_column + .vc_column, .vc_edit_form_elements .vc_column-with-padding { 
    padding-top: 20px !important;
}
